*{
  margin:0;
  padding: 0;
}



.cabeçalho{
  background-color:rgb(117, 157, 209);
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 24px 0;
}

.cabeçalho-imagem{
  width:60% ;
}
.cabeçalho-lista-item{
  display: inline-block;
  margin: 0 16px;
  font-size: 24px;
}

.loja-imagem{
  width: 25%;
}

.loja{
  background-image: linear-gradient(#4d9cca,#8dd0eb);
  color: rgb(0, 0, 0);
 
}