.cabeçalho{
  background-color: rgb(83, 153, 180);
  display: flex;
  justify-content: space-around;
}

.cabeçalho-imagem{
  width:80% ;
}
.cabeçalho-lista-item{
  display: inline-block;
  margin: 0 16px;
}